{
	servers: [
		"127.0.0.1:2222",
		"192.168.9.91:2222",
	]
	
	redis_offline: {
		addr: "127.0.0.1:6379"
		conn_timeout: "5s"
		read_timeout: "5s"
		write_timeout: "5s"
	}
	
	mongodb: {
		addr: "127.0.0.1:27017"
		conn_timeout: "5s"
		sync_timeout: "5s"
		operation_timeout: "5s"
	}
	
	tcp_listen_addr: "127.0.0.1:2222"
	session_timeout: "2m"
	serv_initial_goroutine_num: 200
	
	long_polling_listen_addr: ":9999"
	long_polling_session_timeout: "1m"

    stats_listen_addr: "127.0.0.1:9020"
    prof_listen_addr: "127.0.0.1:9021"
	
	s2s_session_timeout: "2m"
	s2s_initial_goroutine_num: 8
	
	s2s_channel_peers_max_items: 2000000

	metrics_logfile: "metrics.log"
	stats_output_interval: "2m"
	
	pubsub_channel_max_items: 2000000
	
	msg_storage: "mongodb"
	max_storage_outstanding_msg: 100
	
	// 0: flush every trx
	// 1: flush every second
	msg_storage_flush_policy: 0
	
	// if msg_storage_flush_policy is not 0(flush every trx), then use a 
	// backlog for the msgs to be flushed
	msg_storage_write_buffer_size: 10000
	
	max_cache_msgs_every_channel: 3000
	
}
